footer h5 {
	font-size: 14px;
}
#menu .nav > li > a {
	font-size: 14px;
}
.specialProductBlock .product-thumb a.productName {
	font-size: 14px;
}
.specialProductBlock .prodHelp {
	font-size: 12px;
}
.topPhone .phoneInfo {
	font-size: 12px;
}