@font-face {
	font-family: 'playfair_displayblack';
	src: url('fonts/playfairdisplay-black-webfont.eot');
	src: url('fonts/playfairdisplay-black-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/playfairdisplay-black-webfont.woff2') format('woff2'),
	url('fonts/playfairdisplay-black-webfont.woff') format('woff'),
	url('fonts/playfairdisplay-black-webfont.ttf') format('truetype'),
	url('fonts/playfairdisplay-black-webfont.svg#playfair_displayblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'playfair_displaybold';
	src: url('fonts/playfairdisplay-bold-webfont.eot');
	src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
	url('fonts/playfairdisplay-bold-webfont.woff') format('woff'),
	url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
	url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'playfair_displayregular';
	src: url('fonts/playfairdisplay-regular-webfont.eot');
	src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
	url('fonts/playfairdisplay-regular-webfont.woff') format('woff'),
	url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
	url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'PT Sans';
	src:url('fonts/pts55f_w.eot');
	src:local('PT Sans'), url('fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTS55F_W.woff') format('woff'), url('fonts/PTS55F_W.ttf') format('truetype'), url('fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}
@font-face {
	font-family:'PT Sans';
	font-style:italic;
	src:url('fonts/pts56f_w.eot');
	src:local('PT Sans Italic'), url('fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTS56F_W.woff') format('woff'), url('fonts/PTS56F_W.ttf') format('truetype'), url('fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}

@font-face {
	font-family:'PT Sans';
	src:url('fonts/pts75f_w.eot');
	font-style:normal;
	font-weight:bold;
	src:local('PT Sans Bold'), url('fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTS75F_W.woff') format('woff'), url('fonts/PTS75F_W.ttf') format('truetype'), url('fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}

@font-face {
	font-family:'PT Sans';
	font-style:italic;
	font-weight:bold;
	src:url('fonts/pts76f_w.eot');
	src:local('PT Sans Bold Italic'), url('fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTS76F_W.woff') format('woff'), url('fonts/PTS76F_W.ttf') format('truetype'), url('fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');
}

@font-face {
	font-family:'PT Sans Caption';
	src:url('fonts/ptc55f_w.eot');
	src:local('PT Sans Caption'), url('fonts/PTC55F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTC55F_W.woff') format('woff'), url('fonts/PTC55F_W.ttf') format('truetype'), url('fonts/PTC55F_W.svg#PTSans-Caption') format('svg');
}

@font-face {
	font-family:'PT Sans Caption';
	font-weight:bold;
	src:url('fonts/ptc75f_w.eot');
	src:local('PT Sans Caption Bold'), url('fonts/PTC75F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTC75F_W.woff') format('woff'), url('fonts/PTC75F_W.ttf') format('truetype'), url('fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg');
}

@font-face {
	font-family:'PT Sans Narrow';
	src:url('fonts/ptn57f_w.eot');
	src:local('PT Sans Narrow'), url('fonts/PTN57F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTN57F_W.woff') format('woff'), url('fonts/PTN57F_W.ttf') format('truetype'), url('fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');
}

@font-face {
	font-family:'PT Sans Narrow';
	font-weight:bold;
	src:url('fonts/ptn77f_w.eot');
	src:local('PT Sans Narrow Bold'), url('fonts/PTN77F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTN77F_W.woff') format('woff'), url('fonts/PTN77F_W.ttf') format('truetype'), url('fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');
}
.centralBlock strong {
	color:#000;
	font-weight:normal;
	text-shadow: 0 0px 0 #000;
}
.clear {
	clear:both;
}
.btn-link:focus, .btn-link:hover {
	color:#000;
}
.annabelle {

       
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-15 {
	width: 20%;
	float: left;
}

@media (min-width: 1200px) {
	.container {
		width:1180px;
	}
}
@media (min-width: 992px) {
	.container {
		width:100%;
	}
}
@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
	.container {
		width:100%;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

body {
	font-family:'PT Sans';
	font-weight: 400;
	color: #666;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
}
input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 2000px; transition: text-indent 1s ease;}
input:focus::-moz-placeholder          {text-indent: 2000px; transition: text-indent 1s ease;}
input:focus:-moz-placeholder           {text-indent: 2000px; transition: text-indent 1s ease;}
input:focus:-ms-input-placeholder      {text-indent: 2000px; transition: text-indent 1s ease;}

a, input, select, button,
a:active, input:active, select:active, button:active,
a:focus, input:focus, select:focus, button:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: 0px!important;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-family: 'playfair_displayblack';
	text-transform: uppercase;
	color: #000;
	text-align: center;
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 30px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #000;
}
a:hover {
	color: #666;
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.mainImage {
	position: relative;
	top: -37px;
	z-index: 0;
	margin-bottom: -230px;
}
.mainImage img {
	width:100%;
}
.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:after {
	content: '* ';
	color: #f1524c;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
}
/* top */
#top {
	background-color: #e6d6d6;
	border-bottom: 1px solid #e0d4d4;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #686161;
	text-shadow: 0 1px 0 #F9E9E9;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #686161;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 43px 0 10px 0;
	text-align: center;
}
#logo a {
	display:inline-block;
}
.logo {
	display:none;
	max-width: 80px;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
.menuWrapper {
	background:#fbd8d5;
	height:40px;
	margin-top: 7px;
	z-index: 4;
	position: relative;
}
#menu {
	border: none;
}
#menu .nav > li > a {
	color: #000;
	min-height: 15px;
	background-color: transparent;
	font-size: 18px;
	text-transform: uppercase;
	padding: 11px 26px 9px 26px;
	position:relative;
	font-weight: bold;
	letter-spacing: 4px;
}
#menu .nav > li.first > a .fa {
	font-size:22px;
}
#menu .nav > li.first > a {
	padding-top: 11px;
	padding-bottom: 9px;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a,
#menu .nav > li.active > a {
	color: #f1524c;
}
@media (max-width: 768px) {
	#menu .nav > li > a:before {
		display:none;
	}
}
#menu .nav > li.first > a:before {
	display:none;
}
#menu .dropdown-inner {
	display: inline-block;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
#menu .dropdown-inner li a:hover {
	color: #f1524c;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	color: #000;
	min-height: 15px;
	background-color: transparent;
	font-size: 18px;
	text-transform: uppercase;
	padding: 11px 26px 9px 26px;
	position:relative;
	font-weight: bold;
	letter-spacing: 4px;
	float: left;
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #E7C8C8;
	background-image: linear-gradient(to bottom, #E7C8C8, #B89292);
	background-repeat: repeat-x;
	border-color: #D8ADAD #BBA2A2 #997B7B;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
#menu .dropdown-menu {
	background: transparent;
	opacity: 1;
	border:none;
	white-space: nowrap;
	margin-top: -1px;
	padding-top: 8px;
	box-shadow:none;
	text-align: center;
	padding-bottom: 0;
	width:100%;
}
#menu .dropdown-menu .list-unstyled:before {
	content: '';
	display: block;
	position: relative;
	top: -18px;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-bottom: 8px solid;
	border-top: 4px solid\9;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	color: #fbd8d5;
	margin: 0 auto;
}
#menu .dropdown-menu .list-unstyled {
	background:#fbd8d5;
	padding: 10px 0;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 300px;
}
.checkout-cart .container {
	max-width:1000px;
}
h1 {
	color:#000;
	font-size:40px;
	margin-bottom:10px;
}
h2 {
}
h3 {
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #fff;
	color: #666;
}
body:not(.common-home) footer {
	padding-top: 110px;
	background: url(../image/bottom_bg.png) no-repeat 60% top;
	margin-top: 0px;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #666;
}
footer a:hover {
	color: #666;
}
footer h5 {
	font-size: 14px;
	text-transform: uppercase;
	color: #666;
}
/* alert */
.alert {
	padding: 8px 30px 8px 14px;
	border-radius: 0px;
	position: relative;
	border: 2px solid #f1524c;
	background: #fff;
	color: #000;
	font-size: 16px;
}
.alert-success {
	color:#3c763d;
	background: #dff0d8;
	border:2px solid #d6e9c6;
}
.alert a {
	text-decoration:underline;
}
.alert button.close {
	position:absolute;
	top: 9px;
	right: 9px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 0px 0;
	border: none;
	display:none;
	background:none;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: none;
	padding: 0 30px 0 0;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 8px;
	right: 12px;
	width: 5px;
	height: 5px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.breadcrumb > li a {
	color:#000;
	font-size: 11px;
	border-bottom: 1px solid #BFBFBF;
	line-height: 8px;
	display: inline-block;
}
.breadcrumb > li:last-child:after {
	display:none;
}
.breadcrumb > li:last-child a {
	border:none;
	color:#939393;
}
.pagination {
	margin: 0;
	margin-top:2px;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: none;
}
.btn-xs {
	font-size: 9px;
	padding: 1px 5px;
	line-height: 1.5;
	border-radius: 3px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 15px 0px;
	font-size: 15px;
	text-align:center;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #000;
	text-shadow: none;
	background-color: #fff;
	background-image: none;
	background-repeat: repeat-x;
	border-color: #000;
	font-size:8px;
	border-radius: 14px;
	padding: 7.5px 9px;
}
.btn-default:active, .btn-default:focus, .btn-default:hover,
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover {
	text-shadow: none;
	background-color: #fff;
	border-color: #000;
}
.btn-primary {
	color: #000;
	text-shadow: none;
	background-color: #fbd8d5;
	background-image: none;
	background-repeat: repeat-x;
	border-color: #fbd8d5;
	border-width:2px;
	border-radius:0px;
	font-size: 13px;
	text-transform:uppercase;
	font-weight: bold;
	border-radius: 30px;
}
.btn-primary:active,
.btn-primary:focus {
	color: #000!important;
	text-shadow: none;
	background-color: #fff!important;
	background-repeat: repeat-x;
	border-color: #fbd8d5!important;
	border-width:2px;
	font-size: 13px;
}
.btn-primary.disabled,
.btn-primary.disabled:hover {
	border-color: #e6d6d6!important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #fff!important;
	background-image: none!important;;
	color: #000;
	border-color: #fbd8d5;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
/*.list-group a {*/
	/*border: 1px solid #DDDDDD;*/
	/*color: #888888;*/
	/*padding: 8px 12px;*/
/*}*/
/*.list-group a.active, .list-group a.active:hover, .list-group a:hover {*/
	/*color: #444444;*/
	/*background: #eeeeee;*/
	/*border: 1px solid #DDDDDD;*/
	/*text-shadow: 0 1px 0 #FFF;*/
/*}*/
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	margin-bottom: 20px;
	/*overflow: auto;*/
	text-align:center;
}
.recomended .product-thumb {
	margin-bottom:0px;
}
.recomended .product-thumb .caption {
	min-height:60px;
}
.product-thumb a.productName {
	color: #000;
	font-size: 17px;
	line-height: 15px;
	display: inline-block;
	text-decoration: none;
}
.product-thumb .image {
	text-align: center;
	margin-bottom: 16px;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb .name {
	line-height: 14px;
	margin: 8px 0;
}
.product-thumb .name a {
	color: #000;
	font-size: 17px;
	line-height: 15px;
	display: inline-block;
	text-decoration: none;
}
.product-thumb .name a:hover {

}
.product-thumb .caption {
	padding: 0 0px;
	min-height: 80px;
	text-align: left;
}
.categoryBlockRow {
	margin: 30px 40px 30px;
	padding-bottom:80px;
	background: url("../image/bottom_bg.png") no-repeat 90% bottom;
}
.category-thumb {
	background:transparent;
	border:5px solid #fbd8d5;
	margin: 20px;
	text-align:center;
}
.product-thumb.category-thumb a.productName {
	color: #000;
	font-size: 17px;
}
.category-thumb .image {
	margin: 26px 26px 10px;
}
.category-thumb .caption {
	text-align:center;
	margin-bottom:20px;
}
.category-thumb:hover {
	border:5px solid #f1524c;
}
.category-thumb:hover a.productName {
	color: #f1524c;
}
.category-thumb .image a:hover {
	opacity:1;
}
.product-thumb.category-thumb .caption {
	min-height: 32px;
}
.category-seeAllProducts.seeAllProducts a {
	font-size: 14px;
}

.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
	.product-grid .product-thumb .caption {
		min-height: 210px;
		padding: 0 10px;
	}
}
@media (max-width: 767px) {
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}
	.product-grid .product-thumb .caption {
		min-height: 80px;
	}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #f1524c;
	font-size: 20px;
	margin: 10px 0 6px;
}
.product-thumb .price .pricePrefix {
	font-size:12px;
}
.product-thumb .description {
	font-size: 12px;
	color: #8A8A8A;
	line-height: 12px;
	height:40px;
	margin-bottom: 10px;
}
.product-thumb .price-new {
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbBlock {
	max-width:346px;
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 0px;
	padding: 0px;
	display: block;
	border: none;
	margin-left:1px;
}
.additions .owl-item:first-child .image-additional a {
	margin-left:0px;
}
.image-additional a img {
	margin-left:auto;
	margin-right:auto;
}
.image-additional {

}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 40px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}


/*new cart*/
.cartBlock + .cartBlock {
	margin-top:10px;
}
.cartBlock h3 {
	text-transform: uppercase;
	font-size: 18px;
	color: #000;
	margin-bottom: 4px;
	font-family: 'playfair_displayblack';
	margin-top: 8px;
	margin-bottom: 20px;
}
.delInfo h2 {
	font-size: 32px;
	color: #000;
	margin:0px;
	padding:0px;
	text-align:center;
	text-transform:uppercase;
	font-family: 'playfair_displayblack';
	margin-bottom:30px;
	margin-top:20px;
}
.delInfo .subTitle {
	text-transform: uppercase;
	font-size: 14px;
	margin: 0px;
	color: #000;
	font-weight: bold;
}
.delInfo input[type=checkbox],
.delInfo input[type=radio] {
	margin-top: 0px;
	float: left;
	margin-right: 6px;
	margin-left:0px;
	height:16px;
	width:16px;
}
.couponCartBlock .delInfo input[type=radio] {
	margin-top: 2px;
}
.delInfo input[type="text"],
.delInfo input[type="password"],
.delInfo textarea {
	display: block;
	margin-bottom: 8px;
	height: 40px;
	border-radius: 25px;
	border: 2px solid #fbd8d5;
	box-shadow: none;
	color: #000;
	font-size: 16px;
	padding: 0px 20px;
	background: #fff;
}
.delInfo textarea {
	height:100px;
	padding:10px 20px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background: #fff;
}
.delInfo input[type="text"]:active,
.delInfo input[type="text"]:focus,
.delInfo textarea:focus, .delInfo textarea:active {
	-webkit-box-shadow:0 0px 6px 2px rgba(251, 216, 213, 0.73);
	-moz-box-shadow:0 0px 6px 2px rgba(251, 216, 213, 0.73);
	-o-box-shadow:0 0px 6px 2px rgba(251, 216, 213, 0.73);
	box-shadow: 0 0px 6px 2px rgba(251, 216, 213, 0.73);
	color:#f1524c;
	border-color:#f1524c;
}
.delInfo ::-webkit-input-placeholder {font-size:12px;color:#000;}
.delInfo ::-moz-placeholder          {font-size:12px;color:#000;}
.delInfo :-moz-placeholder           {font-size:12px;color:#000;}
.delInfo :-ms-input-placeholder      {font-size:12px;color:#000;}
.delInfo .error {
	top:-8px;
	position:relative;
}
.cart-row-2 {
	display:block;
	text-align:center;
}
.delInfo .chooseBlock + .delInfo .error {
	top:0px;
}
.delInfo .chooseBlock input[type=checkbox],
.delInfo .chooseBlock input[type=radio] {
	margin-top:2px;
}
.delInfo td {
	text-align:left;
}
.shippAdditionalInfo {
	display:none;
	margin:10px 0;
}
.shippAdditionalInfo.active {
	display:block;
}
.shippAdditionalInfo select {
	height: 40px;
	border-radius: 25px;
	border: 2px solid #fbd8d5!important;
	font-size: 16px;
	padding: 0px 16px;
	background: #fff!important;
	color:#000;
	box-shadow:none!important;
}
.shippAdditionalInfo .input-group input[type="text"] {
	margin-bottom: 0px;
}
.shippAdditionalInfo button.btn {
	height: 40px;
	padding: 0px 18px;
	border: 2px solid #fbd8d5;
	border-left-width: 1px;
	border-radius: 30px;
}
.shippAdditionalInfo button.btn:active,
.shippAdditionalInfo button.btn:focus {
	border-color:#fbd8d5;
}
.shippAdditionalInfo textarea {
	resize:none;
	margin-bottom: 8px;
	height: 60px;
}
.shippAdditionalInfo .row {
	margin-bottom:8px
}
.shippAdditionalInfo .row label {
	padding-top:6px;
}
.shippAdditionalInfo .error {
	display:inline-block;
	text-align:right;
	width: 100%;
}
.totalBlock .btn.btn-primary {
	background:#f1524c;
	border:2px solid #f1524c!important;
	color:#fff;
	font-size: 12px;
	padding: 12px 40px;
	box-shadow:none!important;
}
.totalBlock .btn.btn-primary:hover {
	color:#f1524c;
}
.totalBlock .btn.btn-primary:active,
.totalBlock .btn.btn-primary:focus {
	color:#f1524c;
}
@media (min-width: 768px) {
	.shippAdditionalInfo .row .col-lg-5 {
		padding-right:0px;
	}

	.shippAdditionalInfo .row .col-lg-7 {
		padding-left:5px;
	}
}
.error,
.error ul li {
	color:red;
}
.modal-dialog .error ul {
	list-style:none;
}
.hiddenBlock {
	display:none;
}
.bootstrap-datetimepicker-widget td.disabled {
	color: #D2D2D2!important;
}
.socLinks {
	margin-top:3px;
}
.socLinks div {
	margin: 4px 8px;
	display: inline-block;
}
.socLinks div img {
	height: 20px;
}
.socLinks div:hover a {
	opacity:0.6;
}
.join_us {
	text-align:center;
	margin-top: 38px;
}
.headMenuBlock {
	margin-top: 10px;
}
.headMenu {
	margin-top:8px;
}
@media (min-width: 992px) {
	.join_us .socLinks {
		/*margin-right: 80px;*/
	}
	.headMenuBlock {
		margin-top: 45px;
		margin-right: -7px;
	}
	.headMenu {
		margin-top:0px;
	}
}
.join_us .annabelle {
	font-size: 22px;
	text-align: center;
}
#hidden_top {
	height:4px;
}
.headMenuBlock .currencyBlock {
	display:none!important;
}
.headMenu span {
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
	float:left;
}
.headMenu span.caret {
	color:#000;
}
.headMenu button {
	color:#f1524c;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 17px;
	padding:0px;
	float:left;
	padding-left:2px;
	position:relative;
}
.headMenu button:after {
	color: #f1524c;
	text-decoration: none;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: ' ';
	top: 7px;
	position: absolute;
	right: -10px;
}
.headMenu button:hover, .headMenu span.caret, .headMenu button:focus {
	color: #f1524c;
	text-decoration:none;
}
.right-float {
	float: right;
}
.headMenu .right-float > * {
	float:left;
}
.headMenu .right-float a {
}
.headMenu .right-float span {
	padding-left:4px;
	cursor:pointer;
}
.headMenu .cartHolder {
	position:relative;
}
.headMenu .cartHolder a {
	position: absolute;
	right: 7px;
	bottom: 0px;
	color: #fff;
	font-size: 11px;
}
.topPhone {


}
.topPhone .phone {
	font-size: 19px;
	padding-top: 0px;
	color: #000;
	line-height: 18px;
	font-weight:bold;
	word-spacing: 4px;
}
.topPhone .phone span {
	color: #d7aeaa;
	font-size: 18px;
	font-weight:normal;
}
.topPhone .phoneInfo {
	font-size: 11px;
	padding-top: 4px;
}
footer .topPhone {
	float:none;
	border:none;
}
header {
	margin-bottom:14px;
}
@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: block;
		float: none;
		vertical-align: top;
		width:100%;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}
footer .annabelle {
	font-size:20px;
}
footer .powerebuttond {
	
	font-size:10px;
	padding-top:10px;
}
footer .first,
footer .third {
	text-align:center;
}
@media (min-width: 768px) {
	footer .first {
		text-align:left;
		padding-left:40px;
	}
	footer .third {
		text-align:right;
		padding-right:40px;
	}
	#newLetterForm .input-group {
		max-width:180px;
		float:right;
	}
}
.newsLetter {
	margin-bottom:10px;
}
#newLetterForm input[type="email"]{
	border:2px solid #aeaeae;
	border-radius:0px;
}
#newLetterForm button {
	background:#aeaeae;
	border-color:#aeaeae;
	border-radius:0px;
	box-shadow:none;
}
.centralBlock {
	position:relative;
}
.centralBlock.catalog {

}
.centralBlock > h3, .centralBlock > h1 {
	text-align:center;
	width: 100%;
	font-size: 36px;
	font-family: 'playfair_displayblack';
	color: #000;
	margin-bottom: 26px;
}
.centralBlock > h3 span, .centralBlock > h1 span {
	display:inline-block;
	padding:0 7px;
	position:relative;
	text-transform:uppercase;
}
.centralBlock > h3 span:after, .centralBlock > h1 span:after {
	bottom: 0px;
	border: 3px solid #d7aeaa;
	border-bottom-width: 2px;
	content: ' ';
	width: 100px;
	display: block;
	margin: 10px auto;
	-webkit-border-radius: 0px;
	-moz-border-radius:0px;
	-moz-border-radius:0px;
	-o-border-radius:0px;
	border-radius: 6px;
	-webkit-box-shadow:0 0px 3px 0px rgba(215, 174, 170, 0.64);
	-moz-box-shadow:0 0px 3px 0px rgba(215, 174, 170, 0.64);
	-o-box-shadow:0 0px 3px 0px rgba(215, 174, 170, 0.64);
	box-shadow: 0 0px 3px 0px rgba(215, 174, 170, 0.64);

}
.centralBlock > h3.small, .centralBlock > h1 {
	font-size:30px;
}
.centralBlock > h3.small span, .centralBlock > h1 span {
	padding: 0 60px;
}
.centralBlock iframe {
	max-width:100%;
}
#content .owl-carousel {
	margin-bottom:6px;
	margin-top:0px;
}
.horiz_border_first {
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #E0E0E0;
}
.horiz_border {
	margin-top:30px;
	border-top: 1px solid #b7b7b7;
}
#content .owl-wrapper-outer {
	 border: 4px solid #FFF;
	 border-top: 1px solid #FFF;
	 -webkit-border-radius: 0px;
	-moz-border-radius:0px;
	-o-border-radius:0px;
	 border-radius: 0px;
	 -webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	 box-shadow: none;
}
.seeAllProducts {
	text-align:center;
}
a.linkButton {
	color: #000;
	font-size: 11px;
	display: inline-block;
	line-height: 12px;
	border: 2px solid #f1524c;
	border-radius: 30px;
	padding: 14px 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.seeAllProducts span {
	padding:0 1px;
}
.seeAllProducts div {
}
.specialProductBlock {
	text-align:center;
	margin-top: 30px;
}
.specialProductBlock .icon {
	height:53px;
}
.specialProductBlock .prodTitle {
	font-size: 40px;
	
	margin: 20px 0 10px;
	line-height: 32px;
	color:#000;
	height: 56px;
}
.specialProductBlock .prodTitle div {
	font-size: 28px;
}
.specialProductBlock .prodHelp {
	color:#afafaf;
	font-size: 11px;
	margin: 0px 20px;
	line-height:12px;
}
.specialProductBlock .head {
	height: 174px;
}
.specialProductBlock .product-thumb .image img {
	/*max-width:400px;*/
}
.specialProductBlock .product-thumb a.productName {
	font-size:16px;
	text-decoration:none;
	line-height: 12px;.product-thumb .caption
	border: none;
}
.twolineBorder {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #808080;
}
.specialProductBlock .product-thumb .description {
	max-width:180px;
	display:inline-block;
	font-size: 12px;
	line-height: 16px;
}
#list-view, #grid-view {
	display:none;
}
.filterProBlock {
	border-top:1px solid #a7a7a7;
	border-bottom:1px solid #a7a7a7;
	border-left:1px solid #6c6c6c;
	border-right:1px solid #6c6c6c;
}
.pagination>li>a,
.pagination>li>span {
	padding: 4px 6px;
	border: none!important;
	color: #000;
	border-radius: 3px!important;
	margin:0 4px;
	font-size: 13px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color:#000;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color:#414141;
}
.container.mainBlock {
	margin-top:46px;
}
.mainBlock .breadcrumb {
	display:block;
}
.mainBlock h1 {
	text-align: center;
	width: 100%;
	font-size: 26px;
	font-family: 'playfair_displayblack';
	color: #000;
	margin-bottom: 26px;
	text-transform: uppercase;
	margin-top: 0px;
}
.mainBlock h1:after {
	bottom: 0px;
	border: 3px solid #d7aeaa;
	border-bottom-width: 2px;
	content: ' ';
	width: 100px;
	display: block;
	margin: 10px auto;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0px 3px 0px rgba(215, 174, 170, 0.64);
	-moz-box-shadow: 0 0px 3px 0px rgba(215, 174, 170, 0.64);
	-o-box-shadow: 0 0px 3px 0px rgba(215, 174, 170, 0.64);
	box-shadow: 0 0px 3px 0px rgba(215, 174, 170, 0.64);
}
a.thumbnail {
	border:none;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	margin-bottom:0px;
	padding: 0 4px;
}
.owl-carousel .owl-buttons div {
	color:#fff;
}
.sizeOption {
	/*width:166px;*/
	height:260px;
	border:2px solid #EFEFEF;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	text-align: center;
	cursor:pointer;
	position:relative;
	margin-bottom:10px;
	padding:30px 10px 0 10px;
}
@media (max-width: 992px) {
	.sizeOption {
		/*width:130px;*/
	}
}

.sizeOption.active {
	border-color:#e6d6d6;
}
.sizeOption .checkIcon {
	position:absolute;;
	right:13px;
	top:13px;
	background: url("../image/check.png") no-repeat top left;
	width:20px;
	height:15px;
	display:none;
}
.sizeOption input[type="radio"] {
	display:none;
}
.sizeOption.active .checkIcon {
	display:block;
}
.sizeOption:first-child {

}
.sizeOption img {
	width:76px;
}
.sizeOption .title {
	margin-top:20px;
	line-height:14px;
	color:#000;
}
.sizeOption .price {
	margin-top:10px;
	color:#000;
	font-size:14px;
}
.sizeOption .descr {
	font-size: 10px;
	color: #939393;
	line-height: 12px;
	margin-top: 10px;
}
.colorOptions .dropdown-menu li img,
.colorOptions .dropdown-toggle span img {
	width:16px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.colorOptions .dropdown-toggle span img {
	margin-top:1px;
}
.colorOptions .bootstrap-select button,
.colorOptions .bootstrap-select button:hover,
.colorOptions .bootstrap-select button:active,
.colorOptions .bootstrap-select button:focus {
	background: #FFF;
	border-color: transparent;
	box-shadow: none!important;
	outline: 0px!important;
}
.colorOptions .open>.dropdown-toggle.btn-default {
	border: 1px solid #EFEFEF;
	background:#fff;
	border-radius:3px;
}
.colorOptions .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 55px;
}
.colorOptions .bootstrap-select.btn-group .dropdown-toggle .fa {
	top: 32%;
	right: 11px;
	color: #000;
	position:absolute;
}
.colorOptions > div > label {
	float: left;
	line-height: 36px;
	color:#000;
}
.colorOptions {
	margin-bottom:20px;
}
.buttonBlock {

}
.buttonBlock button {
	margin-bottom:4px;
}
#product {
	margin-bottom:20px;
}
#product .text-danger {
	color:#f1524c;
	top: -4px;
	position: relative;
	float: left;
}
#product .form-group label {
	float:left;
	color: #000;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 28px;
}
#product .form-group > label {
	margin: 0px 20px 0 0;
}
#product .form-group .optionInput {
	float:left;
}
#product .form-group label.active {
	color:#f1524c;
}
#product .row > div.optionBlock {
	margin-bottom:10px;
}
#product .form-group .optionInput .radio {
	float:left;
	position:relative;
	overflow:hidden;
	margin:0px;
}
#product .form-group .optionInput .radio label {
	padding-left:10px;
	padding-right:0px;
}
#product .form-group .optionInput .radio:first-child label {
	padding-left:0px;
}
#product .form-group .optionInput .radio input {
	position:absolute;
	left:-9999px;
}
#product .form-group select {
	width:auto;
	float:left;
	height: 28px;
	border: 1px solid #000;
	border-radius: 14px;
	color: #000;
	padding: 3px 10px;
}
#product .form-group .input-group {
	float:left;
}
#product .quantityBlock {
	width:90px;
}
#product input.form-control {
	border: 1px solid #000;
	height: 28px;
	text-align: center;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 6px;
}
.prodDescription {
	font-size: 15px;
	color: #000;
	line-height: 22px;
	margin-bottom: 60px;
	padding-bottom:28px;
	background: transparent url(../image/description_leaf.png) 80% 100% no-repeat;
	margin-top: 20px;
}
.topBorder {
	border-top: 2px solid #D0D0D0;
}
.cartProductInfo {
	margin-top:10px;
	margin-bottom:10px;
	width:1%;
}
.main-container {
	padding: 0 15px;
}
.cartProductInfo .image {
	float:left;
	-webkit-box-shadow:0px 0px 1px 1px #f68c88;
	-moz-box-shadow:0px 0px 1px 1px #f68c88;
	-o-box-shadow:0px 0px 1px 1px #f68c88;
	box-shadow: 0px 0px 1px 1px #f68c88;
	padding: 2px;
	margin-right:20px;
}
.cartProductInfo .image img {

}
.cartProductInfo .title {
	margin-right:20px;
}
.cartProductTable .title a {
	font-size:13px;
	color:#000;
	display: block;
}
.cartProductTable .title small:first-child {
	margin-top: 10px;
}
.cartProductTable .title small {
	font-size:11px;
	line-height:12px;
	display:block;
}
.cartBlock {
}
.cartBlock.checkout {
	margin-top: 20px;
}
.cartBlock.checkout > .row {
	padding-top:14px;
	margin-bottom:10px;
}
.cartBlock.checkout > .row:first-child {
	border-top:none;
}
.cartBlock .delBlock > div  {
	border:5px solid #fbd8d5;
	padding: 14px;
}
.cartBlock .delBlock.disabled {
	opacity:0.3;
}
.checkoutBlock > .row {
	margin-bottom:16px;
}
.cart-row-2 .delBlock > div, .cart-row-3 .delBlock > div {
	margin:0px -12px;
	height: 100%;
}
.cart-row-2 .delBlock:first-child > div, .cart-row-3 .delBlock:first-child > div {
	margin-left:0px;
}
.cart-row-2 .delBlock:last-child > div, .cart-row-3 .delBlock:last-child > div {
	margin-right:0px;
}
.removeBlock {
	position:relative;
}
.cartProductInfo textarea {
	width:100%;
	height:80px;
	resize:none;
}
.table>tbody>tr>td {
	border-bottom:1px solid #fbd8d5;
}
.cartProductInfo .price {
	color: #666;
	font-size:16px;
	margin-top:0px;
}
.cartProductInfo .price.total {
	color: #000;
	font-size:16px;
	margin-top:0px;
}
.cartProductInfo .quantity {
	margin-top:6px;
	float:left;
}
.cartProductInfo .quantity .form-control {
	height: 28px;
	display: inline-block;
	width: auto;
	margin-right:6px;
}
.cartBlock .removeButton {
	color: #000;
}
.cartBlock .removeButton i {
	font-size:16px;
}
.cartBlock .table {
	margin-bottom:0px;
}
.cartProductTable {
	margin-top:0px;
}
.cartProductTable.table>thead>tr>th {
	color:#d7aeaa;
	font-weight:normal;
	text-transform: uppercase;
	font-size: 12px;
	border-bottom:1px solid #fbd8d5;
}
.cartProductTable.table tr>td {
	vertical-align:middle;
	padding: 16px 8px;
}
.cartProductTable.table tr>td.price {
	color:#000;
	font-size: 14px;
	white-space:nowrap;
}
.cartProductTable.table tr>td.total {
	color: #f1524c;
	font-size: 14px;
	white-space:nowrap;
}
.cartProductTable.table tr>td.quantity input {
	border: 1px solid #000;
	height: 28px;
	text-align: center;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 6px;
	min-width: 40px;
	border-radius:0;
	margin: 0px;
}
.cartProductTable.table tr>td.quantity .input-group {
	max-width:90px;
}
.shipping_methods_choice td {
	vertical-align:middle;
}
.shipping_methods_choice td.shipPrice {
	text-align:right;
	white-space:nowrap;
}
.shipping_methods_choice td.shipPrice label {
	color: #f1524c;
	font-size: 16px;
	font-weight: bold;
}
.copyInfo {
	margin-top:15px;
}
.copyInfoBlock {
	cursor:pointer;
	color:#000;
}
.copyInfoBlock label {
	cursor:pointer;
}
.copyInfoBlock:hover .fa-check-square-o,
.copyInfoBlock .fa-square-o {
	display:inline-block;
}
.copyInfoBlock .fa {
	width:13px;
}
.copyInfoBlock:hover .fa-square-o,
.copyInfoBlock .fa-check-square-o,
.copyInfoBlock .fa-spinner {
	display:none;
}
.copyInfoBlock:active .fa {
	display:none;
}
.copyInfoBlock:active .fa.fa-spin {
	display:inline-block;
}
.cartTotals {
}
.cartTotals table {
	float:right;
}
.table.cartTotals>tbody>tr>td{
	color:#f1524c;
	border:none;
	padding:4px;
	font-size:18px;
}
.table.cartTotals>tbody>tr>td:first-child {
	color: #000;
	text-align:right;
	padding-right:20px;
}
.cartTotals tr td.total {
	white-space:nowrap;
	width:1px;
	font-size:16px;
}
.table.cartTotals>tbody>tr:last-child>td:first-child {
	text-transform:uppercase;
}
.bottomTotals {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 50px;
}
.bottomTotals .cartTotals {
	width:auto;
	margin:0 auto;
}
.bottomTotals .table.cartTotals>tbody>tr>td {
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	color: #000;
}
.bottomTotals .table.cartTotals>tbody>tr>td:first-child {
	padding-right:10px;
}
.table.cartTotals>tbody>tr:last-child>td {
	color: #f1524c;
	font-size: 18px;
}
.cartBlock.checkout > .row.continueRow {
	padding-top:30px;
	padding-bottom:100px;
	background: url(../image/bottom_bg.png) no-repeat 40% bottom;
}
.continueRow .linkButton {
	margin-bottom:20px;
}
.checkoutGroup .panel-default > .panel-heading {
	background:none;
}
.checkoutGroup .panel-collapse {
	margin:0 15px;
}
.checkoutGroup .panel-title {
	padding:10px 10px 10px 0;
	margin-left:0px;
}
.checkoutGroup .panel-default {
	border:1px solid #6C6C6C;
}
.checkoutGroup .commentNote {
	color:#000;
}
.confirmTable.table>tbody>tr>td {
	vertical-align:middle;
	border:none;
}
.confirmTable img {
	border-radius:40px;
}
.messageBlock {
	text-align:center;
	background:#fcf2f1;
	padding: 40px 20px;
	margin-bottom:30px;
}
.messageBlock h3 {
	font-family: 'playfair_displayblack';
	text-transform: uppercase;
	color: #000;
	text-align: center;
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 30px;
}
.messageBlock textarea, .messageBlock textarea:focus {
	height: 320px;
	width: 100%;
	max-width: 520px;
	display: inline-block;
	border: 5px solid #fbd8d5;
	border-radius: 0;
	color: #d7aeaa;
	font-size: 16px;
	padding: 14px 20px;
	box-shadow:none;
}
.source_found {
	display:inline-block;
	background:#fbd8d5;
	border-radius: 20px;
	padding: 4px 20px;
	margin-top:10px;
}
#button-confirm {

}
#productList .loadingBlock {
	padding-bottom:20px;
}
#productList .loadingBlock i {
	font-size:26px;
}
#quick-login a {
	text-decoration:underline;
}
.order-list.table>tbody>tr>td {
	vertical-align:middle;
	border-top: 2px solid #DDD;
}
.order-list.table>thead>tr>td {
	color:#000;
}
.order-details {
	margin-bottom:20px;
	margin-top:10px;
}
.order-details.table>tbody>tr>td {
	border:none;
	padding:2px 8px;
}
.order-details.table>tbody>tr>td b,
.shippingInfoBlock b {
	font-weight:normal;
	color:#000;
}
.order-details.table>tbody>tr.last>td b {
	text-transform: uppercase;
	font-size: 14px;
}
.order-details.table>tbody>tr.last>td {
	font-size: 14px;
}
h2.order-details-title {
	text-align: left;
	padding-left: 7px;
}
.couponCartBlock {
	margin-top:10px;
}
.couponCartBlock a,
.couponCartBlock a:focus,
.couponCartBlock a:hover {
	color:#666;
	text-decoration:none;
}
.couponCartBlock .btn,
.couponCartBlock .btn:focus,
.couponCartBlock .btn:active {
	padding:6.5px 12px;
	font-size: 12px;
}
.couponCartBlock .btn:hover {
	border: 2px solid #E6D6D6;
}
.couponCartBlock input[type="text"] {
	margin-bottom: 0px;
	height: 34px;
}
.couponCartBlock .delInfo {
	margin-bottom:20px;
}
.couponCartBlock.text-right .delInfo {
	display:inline-block;
}
.couponCartBlock .btn-primary {
	background:#fff;
	border-color:#f1524c!important;
	box-shadow:none;
}
.additionBlock {
	display:none;
}
#fastorder .modal-title {
	font-size:40px;
	margin-left:15px;
}
.fast-order-desc {
	margin-top:10px;
}
.sizeOptions {

}
#emailBody .headMenuBlock {
	margin-top: 38px;
}
.backLink {
	margin-top:10px;
	display:inline-block;
	color: #666;
}
.purchaseIcons img {
	height:26px;
}
.purchaseIcons img.big {
	height:20px;
}

/* rcart */
.right_cart {
	width:42px;
	position:fixed;
	right:0px;
	top:46px;
	z-index:100;
	overflow:hidden;
	padding-right:0px;
	border: 2px solid #968F8F;
	border-right:0px;
	background:#fff;
}
.right_cart .bbox_inner {
	border-right:none;
}
.right_cart.hidden {
	width:0px;
	right:-4px;
}
.right_cart .title {
	background: transparent url('../image/cart_right.png') 8px center no-repeat;
	height:39px;
	line-height:50px;
	text-transform:uppercase;
	padding-left:40px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #eee;
}
.right_cart .title:hover {
	text-decoration:underline;
}
.right_cart .title span {
	cursor:pointer;
	cursor: pointer;
	line-height: 44px;
	display: block;
	height: 39px;
}
.right_cart .ccontent {
	min-height: 270px;
}
.right_cart .ccontent > div.left {
	float:left;
	width:40px;
	background: transparent url('../image/arrow_left.png') center 10px no-repeat;
}
.right_cart .ccontent > div.left .ctitle {
	height: 40px;
	line-height: 42px;
	text-align: right;
	text-transform: uppercase;
	cursor: pointer;
	-ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	-ms-transform-origin: left top 0;
	-moz-transform-origin: left top 0;
	-webkit-transform-origin: left top 0;
	transform-origin: 100px 100px 0;
	float: left;
	width: 152px;
	color: #666;
	font-size:14px;
}
.right_cart.active .ccontent > div.left {
	background: transparent url('../image/arrow_right.png') center 10px no-repeat;
}
.right_cart .ccontent > div.right {
	float:left;
	width:0px;
	overflow:hidden;
	padding-bottom:10px;
}
#rcart .image {
	padding:4px 0;
	width:70px;
	text-align:center;
}
#rcart .image a {
	position:relative;
	display:inline-block;
}
#rcart .image a .r_delete {
	position: absolute;
	top: 1px;
	right: 1px;
	color: #D23131;
	background: #FFF;
	display: block;
	padding: 0px;
	height: 13px;
	width: 12px;
}
#rcart .image a .r_delete .fa {
	display: block;
	font-size:13px;
}
#rcart .quantity {
	vertical-align:middle;
}
#rcart .mini-cart-info td {
	border:none;
}
#rcart-total {
	font-size: 11px;
	line-height: 12px;
	display: block;
	padding-top: 6px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
}
#rcart-total > span {
	text-transform:uppercase;
	font-size:11px;
}

#rcart .content {
	height:176px;
	overflow:hidden;
}
#rcart .arrow_down {
	cursor:pointer;
	margin-bottom:10px;
}
#rcart .arrow_down img {
	width:80px;
}
#rcart .empty {
	margin-top: 50px;
	text-align: center;
	line-height: 16px;
	white-space: nowrap;
}
#rcart .removeButton {

}
#button-rcart {
	white-space: normal;
	text-align: center;
	font-size: 11px;
	padding: 4px 2px;
	line-height: 12px;
}
.top_icons {
	margin: 30px 40px 30px;
}
.top_icons .t_icon .t_img {
	text-align: center;
}
.top_icons .t_icon img {
	margin-bottom: 10px;
}
.top_icons .t_icon .t_text {
	text-align: center;
	font-size: 16px;
	color: #000;
}
.top_icons .t_icon .t_text span {
	font-size:10px;
	display:block;
}
#column-right .top_icons {
	margin:0px;
}
#column-right .top_icons .t_icon img {
	margin-bottom: 0px;
}
#column-right .top_icons .t_icon .t_text {
	margin-bottom: 40px;
}
.t_icon + .tooltip > .tooltip-inner {
	background-color: #fff;
	color: #000;
	border: 3px solid #f1524c;
	padding: 12px 10px;
	font-size: 12px;
	border-radius: 0px;
	text-align: left;
	line-height: 13px;
}
.t_icon + .tooltip.in {
	opacity:1;
}
.t_icon + .tooltip.top > .tooltip-arrow {
	border-top: 10px solid #f1524c;
	border-width: 10px 10px 0;
	bottom: -5px;
}
.t_icon + .tooltip.top > .tooltip-arrow:after {
	content:' ';
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 10px 10px 0;
	border-top-color: #fff;
	position: absolute;
	bottom: 4px;
	left: -10px;
}
.top_informations {
	width:300px;
}
.top_informations a {
	color: #000;
	font-size:17px;
	margin-left:45px;
}
.top_informations a:first-child {
	margin-left:0px;
}
.left_information {
	margin-top: 45px;
}
.left_information .headMenu:first-child {

}
.left_information .headMenu {

}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FFF;
	z-index: 999999;
}
.preloader_logo {
	width: 200px;
	height: 106px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -53px 0 0 -100px;
}
.preloader_logo img {
	margin:0 auto;
}
.preorderText {
	font-size:10px;
}
.preorderText .fa {
	font-size:10px;
}
.tooltip-inner {
	background-color: #666;
}
.tooltip.right .tooltip-arrow {
	border-right-color: #666;
}
.camera_text {
	padding-top: 20px;
	clear: both;
}
.information_block a {
	text-decoration: underline;
}
.information_block a:hover {
	color: gray;
}
@media (min-width: 767px) {
	.top_informations {
		width: 500px;
		margin-top: 8px;
	}
}

.centralBlock > h1.small {
    font-size: 30px;
}
.centralBlock > h1 {
    text-align: center;
    width: 100%;
    font-size: 38px;
    color: #000;
}

.centralBlock > h1.small span {
    padding: 0 60px;
}
.centralBlock > h1 span {
    display: inline-block;
    padding: 0 7px;
}

#top_up {
    bottom: 40px;
    cursor: pointer;
    display: none;
    font-size: 150%;
    position: fixed;
    right: 25px;
    background: #E6D6D6;
    width: 50px;
    height: 50px;
    border-radius: 50%;
	z-index:2;
}

#top_up i {
    margin-top: 14px;
    margin-left: 16px;
    font-size: 19px;
}
.video iframe {
	width:100%;
	height:auto;
}
.video .video_title {
	margin-top:20px;
	margin-bottom:10px;
	font-size:12px;
	text-align:center;
}
body .row p img
{
    height: auto;
    max-width: 100%;
    position: relative;
	}
.anonymous_delivery_label {
	display:inline;
}
@media (min-width: 768px) {
	.cart-row-2.row-eq-height {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
	}
	.cart-row-3.row-eq-height {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
	}
}
@media (min-width: 1500px) {
	.common-home .mainContent {
		background: url(../image/bottom_left_bg.png) no-repeat -10% 95%;
	}
}
.source_found td {
	padding-left: 10px;
	vertical-align: middle;
}
.source_found td:first-child {
	padding-left: 0px;
	font-size: 11px;
	color: #000;
	text-transform: uppercase;
}
.source_found td i {
	display: block;
	font-size:18px;
	color: #000;
}
.source_found td i.half-hidden {

}
.source_found td i.active {
	color: #f1524c;
}
.source_found td i:hover {
	cursor:pointer;
}
.powered {
	color:#000;
	margin-top: 50px;
	font-weight: bold;
}
.main_text {
	background: #fceae8;
	padding: 20px 0;
	font-style: italic;
	color: #a89d9b;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
}
.clearing {
	clear:both;
	height:0px;
}
.sortRow {
	margin-bottom:10px;
}
.sortRow .control-label {
	font-size: 18px;
	text-transform: uppercase;
	color: #d7aeaa;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 0px;
}
.sort select, .sort select:focus, .sort select:active {
	border: 2px solid #d7aeaa;
	height: 26px;
	border-radius: 0px;
	padding: 0px 6px;
	color: #f1524c;
	background:#fff;
}
.sort option {
	color:#000;
}
.priceList.list-unstyled {
	height: 46px;
}
.priceList.list-unstyled li {
	float:left;
}
.priceList.list-unstyled li.priceItem {
	font-weight:bold;
	font-size:20px;
	padding-right:40px;
	color:#000;
	line-height: 28px;
}
.priceList.list-unstyled li.points {
	background:#fbd8d5;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	padding:4px 20px;
	color:#000;
	font-size: 12px;
}
@media (max-width: 992px) {
	.topPhone .phone,
	.topPhone .phone span,
	.top_informations a {
		font-size: 14px;
		white-space:nowrap;
	}
	#menu .nav > li > a {
		font-size:12px;
		padding: 13px 10px 11px 10px;
	}
	.left_information {
		margin-top: 15px;
	}
	.headMenu span,
	.headMenu button {
		font-size: 14px;
	}
	.headMenu {
		margin-top:0px;
	}
	.mainImage {
		margin-bottom: -155px;
	}
	.category-thumb .image {
		margin: 8px 8px 6px;
	}
	.category-thumb {
		margin: 10px;
	}
}
@media (max-width: 768px) {
	.top_informations a {
		font-size: 9px;
		margin-left: 6px;
	}
	.category-thumb .image {
		margin: 26px 26px 10px;
	}
	.category-thumb {
		margin: 10px;
	}
	.categoryBlockRow .product-thumb .image img {
		max-width: 100px;
	}
	#product .row > div {
		margin-bottom: 4px;
	}
	.cartProductInfo .image img {
		width:50px;
		height:50px;
	}
	.cartProductInfo .image {
		margin-right:4px;
	}
	.cartProductTable .title a {
		font-size:11px;
		line-height:12px;
	}
	.cartProductTable .title small {
		font-size:10px;
		line-height:11px;
	}
	.cartBlock .delBlock > div {
		margin:0px;
	}
	.cartBlock .delBlock {
		margin-bottom:16px;
	}
	.cartBlock .cart-row-1 .delBlock {
		margin-bottom:0px;
	}
	.cartBlock .cart-row-2 .delBlock:last-child {
		margin-bottom:0px;
	}
	.couponCartBlock {
		text-align:left;
	}
	.additionBlock .input-group {
		float:left;
	}
	.couponCartBlock .delInfo {
		margin-bottom:0px;
	}
}
@media (max-width: 550px) {
	.mainImage {
		margin-bottom:-130px;
	}
	.btn-number {
		display:none;
	}
	.table.cartTotals>tbody>tr>td {
		font-size:13px;
		line-height:14px;
	}
	.messageBlock textarea {
		height:220px;
	}
}
@media (max-width: 478px) {
	.categoryBlockRow .product-thumb .image img {
		max-width: 100%;
	}
	.centralBlock > h3 {
		font-size: 28px;
	}
	.top_informations {
		display:none;
	}
	.socLinks div img {
		height:12px;
	}
	.socLinks div {
		margin: 4px 4px;
	}
	.logoColumn {
		display:none!important;
	}
	.logo {
		display:block;
	}
	.thirdHeadColumn {
		width: 58.33333333%!important;
	}
	.topPhone .phone,
	.topPhone .phone span,
	.top_informations a {
		font-size: 12px;
		white-space:nowrap;
	}
	#menu.navbar .navbar-nav {
		background:#fbd8d5;
		padding: 10px 0;
	}
	#menu.navbar .navbar-nav:before {
		content: '';
		display: block;
		position: relative;
		top: -18px;
		width: 0;
		height: 0;
		margin-left: 2px;
		vertical-align: middle;
		border-bottom: 8px solid;
		border-top: 4px solid\9;
		border-right: 8px solid transparent;
		border-left: 8px solid transparent;
		color: #fbd8d5;
		margin: 0 auto;
	}
	#menu.navbar .navbar-nav > li {
		width:100%!important;
		text-align:center;
	}
	.mainImage {
		margin-bottom: -110px;
	}
	.category-thumb .image {
		margin: 8px 8px 6px;
	}
	.category-thumb {
		margin: 10px;
	}
	.mainBlock h1 {
		font-size: 18px;
	}
	.product-thumb .name a {
		font-size: 13px;
	}
}